<mat-card>
    <form [formGroup]="categoriaForm"(ngSubmit)="onSubmit()" #f>
        <mat-form-field>
            <input matInput type="number" placeholder="ID" formControlName="id" #id required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Titulo da categoria" formControlName="titulo" #name required>
        </mat-form-field>


        <button  mat-button color="primary"  type="submit" [disabled]="!categoriaForm.valid">Submit</button>          
        <button mat-button color="warn"  type="reset">Cancel</button>
    </form>
</mat-card>