
<div class="mat-elevation-z8">
  
    <table mat-table [dataSource]="dataSource" matSort>
  

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="navegar(row)"></tr>
      </table>
      <mat-progress-bar mode="indeterminate" *ngIf="gerando"></mat-progress-bar>
      <mat-paginator [pageSizeOptions]="[20, 10, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>
