<mat-toolbar>
  My App

  <span class="example-spacer"></span>

  <ng-container *ngIf="!(authenticated$ | async)">
    <button mat-button routerLink="/auth/login"><mat-icon>input</mat-icon>&nbsp;Sign In</button>
    <!--button mat-button routerLink="/auth/register"><mat-icon>person_add</mat-icon>&nbsp;Sign Up</button-->
  </ng-container>


  <ng-container *ngIf="(authenticated$ | async)">


    <button mat-icon-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>


    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu xPosition="before" [overlapTrigger]="false" 
              #profileMenu="matMenu" class="before">
      <p class="username">{{(user$|async)?.email}}</p>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Exit
      </button>
    </mat-menu>


  </ng-container>  
</mat-toolbar>

<router-outlet></router-outlet>
